.background 
{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fwallpapers%2Fevents&psig=AOvVaw0gYz-Kj8JBmCkf3sKUFsZk&ust=1702548845479000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCKCo64SXjIMDFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size: cover;
}